* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-image: url('/images/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.80;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.80);
}

.landing {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing h1 {
  font-size: 3em;
  font-weight: 100;
}

.landing h2 {
  font-size: 2.5em;
  font-weight: 300;
  margin: 1rem 0;
}

nav {
  background-color: #000000;
  color: #fff;
  position: fixed;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style-type: none;
  padding: 1.5rem;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.301);
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 1.2em;
}

section {
  background-color: #323232;
  height: 100vh;
  display: flex;
}

.side-min {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

.about-img {
  border-radius: 10px;
  padding: 0 8rem;
}

.side-max {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.side-max h2 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  padding: 2rem 0;
}

#about {
  background-color: #141414;
}

.about-text {
  color: #fff;
  font-size: 2em;
  font-weight: 200;
  padding: 0 10rem;
  text-align: justify;
}

.child {
  flex-direction:column;
}

.child-text {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  padding: 1rem 10rem;
  text-align: justify;
}

.entire-screen {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #141414;
}

.entire-screen h2 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  padding: 2rem 0;
}

.entire-screen p{
  padding: 1.5rem 20rem;
}

.more {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #141414;
}

.more h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  padding: 2rem 0;
}

.more a {
  padding: 0 1rem;
}

.more ul {
  padding-bottom: 5rem;
}

.more li {
  color: #000;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
}

.more li:hover {
  background-color: rgba(255, 255, 255, 0.548);
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

label {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
}

input {
  font-size: 1.5em;
  height: 3.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

button {
  background-color: #fff;
  font-size: 1.5em;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.548);
  cursor: pointer;
}

footer {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  padding-right: 1rem;
  color: #000;
}

.github {
  width: 1.5rem;
}